-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: directorio_paises
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cache_paises`
--

DROP TABLE IF EXISTS `cache_paises`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_paises` (
  `cca2` char(2) NOT NULL,
  `cca3` char(3) NOT NULL,
  `nombre_comun` varchar(100) NOT NULL,
  `nombre_oficial` varchar(200) NOT NULL,
  `capital` varchar(150) NOT NULL DEFAULT '',
  `region` varchar(50) NOT NULL DEFAULT '',
  `subregion` varchar(100) NOT NULL DEFAULT '',
  `poblacion` bigint(20) unsigned NOT NULL DEFAULT 0,
  `area_km2` decimal(14,2) NOT NULL DEFAULT 0.00,
  `bandera_svg` varchar(300) NOT NULL DEFAULT '',
  `bandera_png` varchar(300) NOT NULL DEFAULT '',
  `idiomas` text NOT NULL,
  `monedas` text NOT NULL,
  `fronteras` varchar(300) NOT NULL DEFAULT '',
  `lat` decimal(9,5) NOT NULL DEFAULT 0.00000,
  `lng` decimal(9,5) NOT NULL DEFAULT 0.00000,
  `ultima_actualizacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`cca2`),
  KEY `idx_region` (`region`),
  KEY `idx_nombre` (`nombre_comun`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_paises`
--

LOCK TABLES `cache_paises` WRITE;
/*!40000 ALTER TABLE `cache_paises` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_paises` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comparaciones`
--

DROP TABLE IF EXISTS `comparaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comparaciones` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `usuario_id` int(10) unsigned DEFAULT NULL,
  `titulo` varchar(200) NOT NULL,
  `paises_cca2` varchar(50) NOT NULL,
  `campos_comparados` varchar(300) NOT NULL,
  `veces_visto` int(10) unsigned NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_usuario` (`usuario_id`),
  KEY `idx_paises` (`paises_cca2`),
  CONSTRAINT `comparaciones_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comparaciones`
--

LOCK TABLES `comparaciones` WRITE;
/*!40000 ALTER TABLE `comparaciones` DISABLE KEYS */;
INSERT INTO `comparaciones` VALUES (1,2,'Peru vs Colombia vs Chile','PE,CO,CL','population,area,languages,currencies',5,'2026-06-10 14:45:30'),(2,3,'Latinoamerica Big 3','BR,MX,AR','population,area,region',3,'2026-06-10 14:45:30'),(3,NULL,'Europa vs Sudamerica','DE,FR,PE,CO','population,area,languages',12,'2026-06-10 14:45:30'),(4,4,'Potencias mundiales','US,DE,JP,BR','population,area,currencies',8,'2026-06-10 14:45:30'),(5,2,'Vecinos del Peru','PE,CL,CO,BR','population,area,borders',4,'2026-06-10 14:45:30');
/*!40000 ALTER TABLE `comparaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `favoritos`
--

DROP TABLE IF EXISTS `favoritos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `favoritos` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `usuario_id` int(10) unsigned NOT NULL,
  `pais_cca2` char(2) NOT NULL,
  `pais_nombre` varchar(100) NOT NULL,
  `pais_bandera_url` varchar(300) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_usuario_pais` (`usuario_id`,`pais_cca2`),
  KEY `idx_usuario` (`usuario_id`),
  CONSTRAINT `favoritos_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `favoritos`
--

LOCK TABLES `favoritos` WRITE;
/*!40000 ALTER TABLE `favoritos` DISABLE KEYS */;
/*!40000 ALTER TABLE `favoritos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historial_busquedas`
--

DROP TABLE IF EXISTS `historial_busquedas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `historial_busquedas` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `usuario_id` int(10) unsigned DEFAULT NULL,
  `termino` varchar(200) NOT NULL,
  `tipo` enum('nombre','region','idioma','capital','moneda') NOT NULL DEFAULT 'nombre',
  `resultados` smallint(5) unsigned NOT NULL DEFAULT 0,
  `ip_address` varchar(45) NOT NULL DEFAULT '',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_usuario` (`usuario_id`),
  KEY `idx_termino` (`termino`),
  KEY `idx_fecha` (`created_at`),
  CONSTRAINT `historial_busquedas_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historial_busquedas`
--

LOCK TABLES `historial_busquedas` WRITE;
/*!40000 ALTER TABLE `historial_busquedas` DISABLE KEYS */;
/*!40000 ALTER TABLE `historial_busquedas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `password` varchar(255) NOT NULL,
  `rol` enum('admin','usuario') NOT NULL DEFAULT 'usuario',
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_email` (`email`),
  KEY `idx_rol` (`rol`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `v_comparaciones_recientes`
--

DROP TABLE IF EXISTS `v_comparaciones_recientes`;
/*!50001 DROP VIEW IF EXISTS `v_comparaciones_recientes`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_comparaciones_recientes` AS SELECT
 1 AS `id`,
  1 AS `usuario`,
  1 AS `titulo`,
  1 AS `paises_cca2`,
  1 AS `campos_comparados`,
  1 AS `veces_visto`,
  1 AS `created_at` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_favoritos_usuario`
--

DROP TABLE IF EXISTS `v_favoritos_usuario`;
/*!50001 DROP VIEW IF EXISTS `v_favoritos_usuario`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_favoritos_usuario` AS SELECT
 1 AS `id`,
  1 AS `usuario_nombre`,
  1 AS `usuario_email`,
  1 AS `pais_cca2`,
  1 AS `pais_nombre`,
  1 AS `pais_bandera_url`,
  1 AS `created_at` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_top_busquedas`
--

DROP TABLE IF EXISTS `v_top_busquedas`;
/*!50001 DROP VIEW IF EXISTS `v_top_busquedas`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_top_busquedas` AS SELECT
 1 AS `termino`,
  1 AS `total_busquedas`,
  1 AS `ultima_busqueda` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `v_comparaciones_recientes`
--

/*!50001 DROP VIEW IF EXISTS `v_comparaciones_recientes`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_comparaciones_recientes` AS select `c`.`id` AS `id`,ifnull(`u`.`nombre`,'Anonimo') AS `usuario`,`c`.`titulo` AS `titulo`,`c`.`paises_cca2` AS `paises_cca2`,`c`.`campos_comparados` AS `campos_comparados`,`c`.`veces_visto` AS `veces_visto`,`c`.`created_at` AS `created_at` from (`comparaciones` `c` left join `usuarios` `u` on(`u`.`id` = `c`.`usuario_id`)) order by `c`.`created_at` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_favoritos_usuario`
--

/*!50001 DROP VIEW IF EXISTS `v_favoritos_usuario`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_favoritos_usuario` AS select `f`.`id` AS `id`,`u`.`nombre` AS `usuario_nombre`,`u`.`email` AS `usuario_email`,`f`.`pais_cca2` AS `pais_cca2`,`f`.`pais_nombre` AS `pais_nombre`,`f`.`pais_bandera_url` AS `pais_bandera_url`,`f`.`created_at` AS `created_at` from (`favoritos` `f` join `usuarios` `u` on(`u`.`id` = `f`.`usuario_id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_top_busquedas`
--

/*!50001 DROP VIEW IF EXISTS `v_top_busquedas`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_top_busquedas` AS select `historial_busquedas`.`termino` AS `termino`,count(0) AS `total_busquedas`,max(`historial_busquedas`.`created_at`) AS `ultima_busqueda` from `historial_busquedas` where `historial_busquedas`.`tipo` = 'nombre' group by `historial_busquedas`.`termino` order by count(0) desc limit 10 */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-14 11:44:09
